$styles: main;
.#{$styles} {
  position: absolute;
  top: 90px;
  width: 100%;
  @media screen and (min-width: 601px) {
    top: 110px;
  }
  @media screen and (min-width: 1024px) {
    top: 25%;
    left: 35px;
    transform: translateY(-50%);
    width: auto;
  }
  @media screen and (min-width: 1300px) {
    top: 27%;
  }
  @media screen and (min-width: 1520px) {
    top: 50%;
  }
  @media screen and (min-width: 1670px) {
    left: 110px;
  }
  .container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      padding-left: 0;
      max-width: 378px;
    }
    @media screen and (min-width: 1300px) {
      padding-left: 0;
      max-width: 520px;
    }
  }
  &__title {
    display: none;
    @media screen and (min-width: 1024px) {
      font-size: 52px;
      display: block;
      font-family: $base-font;
      font-style: italic;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: left;
      color: #f8ff13;
      margin-bottom: 15px;
    }
    @media screen and (min-width: 1300px) {
      font-size: 72px;
    }
  }
  &__title--eng {
    display: block;
    font-family: $base-font;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #f8ff13;
    max-width: 230px;
    @media screen and (min-width: 601px) {
      font-size: 42px;
      line-height: normal;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &__link {
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
      font-family: $link-font;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration-line: underline;
      color: #ffffff;
      width: fit-content;
    }
  }
  &__link--mobile {
    background: url(../img/smoke-m.png) bottom center;
    background-size: cover;
    position: absolute;
    width: 100%;
    padding-top: 50px;
    font-family: $link-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    top: 342px;
    z-index: 20;
    text-align: center;
    height: 78px;
    @media screen and (min-width: 415px) {
      background: none;
      top: 350px;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &__text {
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
      font-family: $base-font;
      font-style: italic;
      font-weight: bold;
      font-size: 22px;
      line-height: 72px;
      text-transform: uppercase;
      color: #ffffff;
    }
    @media screen and (min-width: 1300px) {
      font-size: 44px;
    }
  }
  &__text > span {
    color: #f8ff13;
  }
  &__text--eng {
    font-family: $base-font;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    @media screen and (min-width: 601px) {
      font-size: 28px;
      line-height: normal;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &__text--eng > span {
    color: #f8ff13;
  }
}
