* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    scroll-behavior: smooth;
    min-height: 100vh;
    font-size: 100%;
  }

  #map {
    display: flex;
    justify-content: center;
    height: 400px;  /* The height is 400 pixels */
    width: 1000px;  /* The width is the width of the web page */
    margin: auto;
    margin-bottom: 30px;
   }