* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    scroll-behavior: smooth;
    min-height: 100vh;
    font-size: 100%;
  }

.first-item, .second-item {
    margin-bottom: 30px;
}
.first-item, .fouth-item {
    margin-right: 30px;
}