$styles: contacts;
.#{$styles} {
    min-height: 866px;
    padding-top: 100px;
    background: url(../img/contact-bg.jpg) center no-repeat;
    background-size: cover;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;      
    }
    &__title {
        font-family: $raleway;
        font-size: 75px;
        font-weight: 700;
        color: $dark;
        line-height: 0.28;
        margin-bottom: 48px;
        @media screen and (min-width: 375px) {
            font-size: 90px;
        }
    }
    &__text {
        font-family: $raleway;
        font-weight: 300;
        font-size: 17px;
        line-height: 1.47;
        text-align: center;
        max-width: 346px;
        margin-bottom: 46px;
    }
    &__bottom-wrapper {
        display: flex;
        align-self: center;
        @media screen and (min-width: 992px) {
            align-self: flex-start;
        }
    }
    &__form-wrapper {
        display: flex;
        @media screen and (min-width: 992px) {
            margin-right: 170px;
        }
    }
    &__form {
        display: block;
        flex-direction: column;
        max-width: 500px;
    }
    &__input {
        width: 100%;
        height: 50px;
        background: rgba($color: $form-bg, $alpha: 0.5);
        margin-bottom: 15px;
        outline: none;
        border: none;
        padding: 20px 20px 20px 15px;
        border-left: 5px solid transparent;
        font-family: $raleway;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.67;
        color: $light;
        &::placeholder {
            font-family: $raleway;
            font-weight: 300;
            font-size: 15px;
            color: $light;
        }
        &:focus {
            border-left: 5px solid $form-border;
            background: rgba($color: $form-bg, $alpha: 1);
        }
    }
    &__info-wrapper {
        display: none;
        @media screen and (min-width: 992px) {
            display: block;
        }
    }
    &__input:last-child {
        margin-bottom: 0;
        min-height: 250px;
    }
    &__address-wrapper, &__email-wrapper, &__phone-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    &__info-title {
        font-family: $raleway;
        font-weight: 700;
        font-style: 17px;
        color: $dark;
        margin-bottom: 5px;
    }
    &__info-text {
        text-decoration: none;
        font-family: $raleway;
        font-weight: 300;
        font-style: 20px;
        color: $dark;
        position: relative;
        max-width: fit-content;
        @media screen and (min-width: 992px) {
            transition: all 0.2s ease-in-out;
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              left: 0;
              right: 0;
              top: 20px;
              height: 3px;
              background-color: transparent;
              transition: all 0.2s ease-in-out;
              margin-bottom: 0;
          }
          }
          &:hover {
            &:after {
              background-color: rgba(0, 196, 196, .5);
            }
          }
    }
    &__phone-wrapper {
        margin-bottom: 0;
    }

}
