$styles: first-screen;
.#{$styles} {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;

  .container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 576px) {
      display: block;
    }
  }
  &__logo {
    font-family: $raleway;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 34px;
  }
  &__text {
    font-family: $raleway;
    font-weight: 300;
    font-size: 17px;
    max-width: 368px;
    line-height: 1.59;
    margin-bottom: 51px;
    text-align: center;
    @media screen and (min-width: 576px) {
      text-align: left;
    }
  }
  &__link-btn {
    display: inline-block;
    padding: 20px 25px;
    text-decoration: none;
    font-family: $raleway;
    font-size: 20px;
    font-weight: 300;
    color: $light;
    background-color: $header-btn;
    margin-bottom: 30px;
    line-height: 1;
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
  &__link {
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 69px;
      img {
        height: 40px;
      }
    }
  }
}
