$styles: first-screen;
.#{$styles} {
    min-height: 100vh;
    background: url(../img/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    
    .container {
        padding-top: 360px;
    }
    &__logo {
        font-family: $raleway;
        font-weight: 900;
        font-size: 60px;
        margin-bottom: 34px;
    }
    &__text {
        font-family: $raleway;
        font-weight: 300;
        font-size: 17px;
        max-width: 368px;
        line-height: 1.59;
        margin-bottom: 51px;
    }
    &__link-btn {
        padding: 20px 25px;
        text-decoration: none;
        font-family: $raleway;
        font-size: 20px;
        font-weight: 300;
        color: $light;
        background-color: $header-btn;
        @media screen and (min-width: 992px) {
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
            }
        }
        
    }
    &__link {
        display: none;
        @media screen and (min-width: 992px) {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 69px;
            img{
            height: 40px;
            }
            
        }
        

    }


}
