$styles: footer;
.#{$styles} {
    background-color: $dark;
    min-height: 90px;
    padding-top: 32px;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  &__rights {
    font-family: $raleway;
    font-weight: 300;
    font-style: 16px;
    color: $footer-color;
  }
  &__title {
    position: absolute;
    font-family: $pacifico;
    font-size: 25px;
    color: $footer-color;
    line-height: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    font-family: $raleway;
    font-weight: 300;
    font-size: 15px;
    color: $footer-color;
    &--red-word {
      font-family: $raleway;
      font-weight: 700;
      font-size: 15px;
      color: $red-word;
    }
  }
}
