$styles: gallery;
.#{$styles} {
  padding-top: 80px;
  
  background-color: $gallery-bg;
  @media screen and (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-family: $raleway;
    font-weight: 700;
    font-size: 90px;
    color: $dark;
    margin-bottom: 28px;
  }
  &__text {
    max-width: 577px;
    font-family: $raleway;
    font-weight: 300;
    font-size: 17px;
    color: $dark;
    line-height: 1.59;
    margin-bottom: 46px;
    text-align: center;
  }
  &__top-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    @media screen and (min-width: 992px) {
      @include flex-row(stretch, stretch);
      margin-bottom: 30px;
    }
  }
  &__bottom-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
    @media screen and (min-width: 992px) {
      @include flex-row(stretch, stretch);
    }
  }
  &__top-row--right {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex: 1 1 35%;
    @media screen and (min-width: 992px) {
      @include flex-col(stretch, stretch);
      margin-bottom: 0;
      flex: 1 1 35%;
    }
  }
  &__img-wrapper {
    display: flex;
    font-size: 0px;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  }
  &__link {
    padding: 20px 43px;
    text-decoration: none;
    font-family: $raleway;
    font-size: 20px;
    font-weight: 300;
    color: $light;
    background-color: $gallery-btn;
    margin-bottom: 30px;
    @media screen and (min-width: 992px) {
      transition: box-shadow 0.2s ease-in-out;
      &:hover {
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
      margin-bottom: 0;
    }
  }
  &__img {
    width: 100%;
  }
}
.first-item {
  flex: 1 1 65%;
  margin-bottom: 30px;
  @include padding-hack(71.7%, cover);
  @media screen and (min-width: 992px) {
    @include padding-hack(45.3%, cover);
    margin-bottom: 0;
  }
}
.second-item {
  flex: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-right: 30px;
  @include padding-hack(33.2%, cover);
  @media screen and (min-width: 992px) {
    @include padding-hack(62.8%, cover);
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.third-item {
  flex: auto;
  max-width: 100%;
  @include padding-hack(33.3%, cover);
  @media screen and (min-width: 992px) {
    @include padding-hack(62.3%, cover);
    
  }
}

.fouth-item {
  margin-right: 0;
  margin-bottom: 30px;
  flex: 1 1 50%;
  @include padding-hack(70.5%, cover);
  @media screen and (min-width: 992px) {
    @include padding-hack(34.3%, cover);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.fifth-item {
  flex: 1 1 50%;
  @include padding-hack(70.5%, cover);
  @media screen and (min-width: 992px) {
    @include padding-hack(34.3%, cover);
  }
}

.first-item {
  margin-right: 0;
  @media screen and (min-width: 992px) {
    margin-right: 30px;
  }
}
