$styles: navigation;

.#{$styles} {
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  &.filled {
    background-color: rgba($light, 0.7);
    padding: 14px 0;
  }
  .container {
    @include flex-row(space-between, center);
  }
  .logo {
    color: $dark;
    font-family: $pacifico;
    font-size: 50px;
    text-decoration: none;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  &__item:not(:last-child) {
    margin-right: 40px;
  }
  &__link {
    position: relative;
    text-decoration: none;
    font-family: $raleway;
    text-transform: uppercase;
    color: $dark;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: -9px;
      height: 3px;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
  }
  &:hover {
    &:after {
      background-color: $header-btn;
    }
  }
}

}