$styles: our-services;
.#{$styles} {
    padding-top: 179px;
    min-height: 790px;
    background-color: $our-services-bg;
    .container {
        display: flex;
    }
    &__list-wrapper {
        flex-basis: 50%;
    }
    &__list {
        list-style: none;
    }
    &__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        min-height: 100px;
        background-color: $our-services-link;
        transition: box-shadow 0.2s ease-in-out;
        &:hover {
            box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
        }
    }
    &__list-item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__link {
        display: flex;
        height: 100px;
        width: 100%;
        text-decoration: none;
        font-family: $raleway;
        font-weight: 700;
        font-size: 20px;
        color: $dark;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__text-wrapper {
        flex-basis: 75%;
    }
    &__icon {
        flex-basis: 25%;
        display: flex;
        min-height: 100px;
        border-left: solid $our-services-border 1px;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
    &__title-wrapper {
        display: flex;
        width: 100%;
        background: url(../img/services-bg.png) center no-repeat;
        background-size: contain;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: $raleway;
        font-weight: 700;
        font-size: 90px;
        color: $light;
    }


}