$styles: subscribe;
.#{$styles} {
  padding-top: 80px;
  min-height: 500px;
  background: url(../img/subscribe-bg.jpg) center no-repeat;
  @media screen and (min-width: 992px) {
      padding-top: 145px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
  &__title {
    font-family: $raleway;
    font-weight: 700;
    font-size: 40px;
    color: $dark;
    line-height: 0.68;
    margin-bottom: 34px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }
  &__info {
    font-family: $raleway;
    font-weight: 300;
    font-size: 17px;
    color: $dark;
    line-height: 1.59;
    margin-bottom: 31px;
    max-width: 542px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }
  &__form {
    display: block;
    width: 100%;
  }
  &__label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }
  &__email {
    flex: 1 1 100%;
    height: 55px;
    padding: 22px 15px;
    border: 1px solid $dark;
    outline: none;
    margin-bottom: 30px;
    &::placeholder {
      font-family: $raleway;
      font-weight: 300;
      font-size: 15px;
      color: $dark;
      line-height: 1.8;
      opacity: 0.5;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
      margin-right: 30px;
      max-width: 570px;
    }
  }
  &__button {
    border: none;
    outline: none;
    height: 55px;
    padding: 0 30px;
    background-color: $subscribe-btn;
    font-family: $raleway;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    color: $light;
    cursor: pointer;
    max-width: 170px;
    align-self: center;
    @media screen and (min-width: 992px) {
      transition: box-shadow 0.2s ease-in-out;
      &:hover {
        box-shadow: 0px 2px 5px 0 rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}
