* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $N30;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $B10;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken(#95e1d3, 20%);
  }
  scrollbar-width: thin;
  scrollbar-color: $N30 $B10;
}
html,
body {
  min-height: 100vh;
}
body {
  font-size: 100%;
  font-family: $roboto;
  color: $N61;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.mogo-subtitle {
  font-family: $kaushan;
  @include text($H240, 400, $N90);
  margin-bottom: 23px;
  position: relative;
  text-align: center;
}
.mogo-title {
  text-align: center;
  font-family: $montserrat;
  margin-bottom: 90px;
  text-transform: uppercase;
  @include text($H300, 700, $N90);
  @include mogo-title-line;
}
.mogo-text {
  @include text($H50, 400);
  max-width: 80%;
  margin: 0 auto 91px;
  line-height: 1.6;
  text-align: center;
}
.to-top {
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  @include size(40px, true);
  @include flex-row(center, center);
  @include transition(background-color, color, opacity);
  background-color: $R10;
  color: $Y10;
  &:hover {
    background-color: darken($color: $R10, $amount: 10%);
    color: darken($Y10, 30%);
  }
  &.filled {
    opacity: 1;
  }
}
