$styles: about;
.#{$styles} {
  padding-top: 20px;
  background-color: $ND1;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  &__logo {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 120px;
    }
  }
  &__tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    @media screen and (min-width: 992px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1170px;
    }
  }
  .uk-tab {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 80px;
      flex-direction: row;
    }
    @media screen and (min-width: 992px) {
      align-self: flex-start;
      margin-bottom: 80px;
    }
  }
  
  .uk-tab::before {
    border-bottom: none;
    left: 0;
    @media screen and (min-width: 768px) {
      border-bottom: 2px solid $O1;
    }
  }
  .uk-tab > .uk-active > a,
  .uk-tab > * > a {
    font-family: $base-font;
    font-size: $H16;
    color: $ND2;
    letter-spacing: 6px;
    padding: 0;
    padding-bottom: 5px;
    @media screen and (min-width: 768px) {
      padding-bottom: 20px;
    }
    @media screen and (min-width: 992px) {
      font-size: $H30;
    }
  }
  .uk-tab > .uk-active > a {
    border-bottom: 2px solid $ND2;
  }
  .uk-tab > * {
    width: fit-content;
    margin-bottom: 15px;
    padding: 0px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 15px;
    }
    @media screen and (min-width: 992px) {
      margin-right: 70px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 992px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 435px;
    padding: 0 10px;
    margin-bottom: 30px;
    align-self: center;
    margin-right: 30px;
    @media screen and (min-width: 768px) {
      padding: 0;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
      align-items: flex-start;
    }
  }
  &__title {
    font-family: $base-font;
    font-size: $H24;
    letter-spacing: 4.8px;
    color: $ND3;
    max-width: 310px;
    margin-bottom: 50px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }
  &__text-wrapper > * {
    font-family: $base-font;
    font-size: $H18;
    color: $B1;
    letter-spacing: 0.72px;
    line-height: 2.22;
    margin-bottom: 25px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }
  &__text-wrapper > *:last-child {
    margin-bottom: 0;
  }
  &__imgs {
    width: 100%;
    max-width: 570px;
    align-self: center;
    @media screen and (min-width: 992px) {
      align-self: flex-start;
    }
  }
  &__img-wrapper {
    @include padding-hack(52.6%, cover);
  }
  &__imgs > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
