$styles: footer;
.#{$styles} {
  padding-top: 50px;
  background-color: $ND1;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 174px;
  }
  &__title-wrapper {
    width: 100%;
    max-width: 1170px;
  }
  &__title {
    font-family: $base-font;
    font-size: $H60;
    color: $B1;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 65px;
    }
  }
  &__title::before,
  &__title::after {
    content: "";
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: 2px;
    background-color: $B1;
    @media screen and (min-width: 768px) {
      max-width: 371px;
    }
  }
  &__title::before {
    margin-right: 70px;
    @media screen and (min-width: 768px) {
      margin-right: 170px;
    }
  }
  &__title::after {
    margin-left: 70px;
    @media screen and (min-width: 768px) {
      margin-left: 170px;
    }
  }
  &__links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10px;
    }
    @media screen and (min-width: 1026px) {
      padding: 0;
    }
  }
  &__left-side-links > a,
  &__right-side-links > a {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: $base-font;
    font-size: $H14;
    font-weight: 300;
    color: $B1;
    letter-spacing: 3.92px;
    line-height: 2.86;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;
    margin: auto;
    @media screen and (min-width: 768px) {
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 130%;
        height: 2px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in;
        pointer-events: none;
      }
      @media screen and (min-width: 1026px) {
        flex-direction: row;
        justify-content: space-between;
        &:hover {
          &:after {
            background-color: $O2;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 130%;
      height: 2px;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.3s ease-in;
      pointer-events: none;
      @media screen and (min-width: 1026px) {
        &:hover {
          &:after {
            background-color: $O2;
          }
        }
      }
    }

  }

  &__right-side-links {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__icons > a:not(:last-child) {
    margin-right: 60px;
  }
  &__icons {
    order: 3;
    position: relative;
    width: fit-content;
    align-self: center;
    @media screen and (min-width: 768px) {
      order: inherit;
      transform: translateX(17%);
      align-self: flex-start;
    }
  }
  &__icons::after {
    position: absolute;
    content: "";
    display: none;
    width: 2px;
    height: 55px;
    background-color: $B1;
    left: 47%;
    top: 64px;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__subscribe {
    font-family: $base-font;
    font-size: $H18;
    color: $ND2;
    letter-spacing: 2.7px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__form {
    display: flex;
    align-items: center;
    border: 2px solid $O1;
    width: 100%;
    max-width: 370px;
    height: 60px;
    margin-bottom: 60px;
  }
  &__input {
    outline: none;
    border: none;
    flex: 1 100%;
    padding: 0 33px;
    font-family: $base-font;
    font-weight: 300;
    font-size: $H16;
    color: $B1;
    letter-spacing: 4.48px;
    background-color: transparent;
  }
  &__btn {
    background-color: transparent;
    border: none;
    border-left: 2px solid $O1;
    outline: none;
    cursor: pointer;
    width: 124px;
    height: 50px;
  }
  &__text {
    font-family: $base-font;
    font-weight: 300;
    font-size: $H11;
    color: $B1;
    letter-spacing: 3.08px;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
}
