$styles: products;
.#{$styles} {
  background-color: $ND1;
  padding-top: 50px;
  @media screen and (min-width: 1386px) {
    padding-top: 150px;
  }
  .container {
    padding: 0 15px;
  }
  &__title {
    font-family: $base-font;
    font-size: $H30;
    letter-spacing: 6px;
    text-align: center;
    color: $ND2;
    margin-bottom: 40px;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      margin-bottom: 80px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    margin: auto;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $NL2;
    width: 100%;
    max-width: 613px;
    @media screen and (min-width: 1200px) {
      margin-right: 15px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__info-wrapper {
    padding: 40px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 430px;
    border: 1px solid $O1;
  }
  &__rating {
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__product-name {
    font-family: $base-font;
    font-size: $H18;
    letter-spacing: 2.7px;
    color: $ND2;
    margin-bottom: 63px;
    text-transform: uppercase;
    text-align: center;
  }
  &__price-wrapper {
    display: flex;
    height: 75px;
    background-color: $NL3;
    border-left: 1px solid $NL1;
    border-bottom: 1px solid $NL1;
    width: 100%;
    max-width: 613px;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
  }
  &__price {
    font-family: $base-font;
    font-size: $H18;
    color: $ND2;
    letter-spacing: 2.7px;
  }
  &__btn {
    min-width: 188px;
    background-color: $B1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $base-font;
    font-size: $H20;
    color: $NL2;
    height: 100%;
    text-transform: uppercase;
  }
  &__btn::after {
    margin-left: 20px;
    content: "";
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: $NL2;
    transition: all 0.5s ease;
  }
  @media screen and (min-width: 1026px) {
    &__btn:hover {
      color: $NL2;
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
