@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

//Fonts
$quicksand: 'Quicksand', sans-serif;

//Colors
$text-color: #FBF6E4;
$non-active: #E1C2F1;
$border-color: #B08FCC;
$btn-color: #23AE92;
$link-color: #B9B9CC;
$bottom-border: #E66A64;

