$styles: footer;
.#{$styles} {
    padding-top: 204px;
    background: url(../img/footer-bg-gradient.jpg) no-repeat center;
    background-size: cover;
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__links {
        min-width: 770px;
 margin-bottom: 42px;
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__item {
        list-style: none;
    }
    &__link {
        font-size: 16px;
        color: #ffffff;
        display: block;
        border: 1px solid rgba($color: white, $alpha: 0.4);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        padding-top: 7px;
        &:hover {
            border: 1px solid transparent;
            transition: all 0.5s ease;
          }

    }
    &__info {
        display: flex;
        margin-bottom: 211px;
        min-width: 770px;
    }
    &__text {
        color: white;
        font-family: $gothambook;
        font-size: 14px;
        margin: 0;
    }
    &__text:not(:last-child) {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid rgba($color: white, $alpha: 0.5);

    }
}