$styles: what-we-do;
.#{$styles} {
    padding-top: 140px;

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1600px;
        padding: 0 15px 0;
    }
    &__title {
        font-size: 44px;
        font-family: $gothambold;
        color: #2c4058;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 100px;
        &::after {
            content: "";
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 100px;
            height: 1px;
            background-color: #2c4058;
        }
    }
    &__info-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;


    }
    &__img-wrapper {
        display: flex;
        box-shadow: -221px -70px 0 0 #55b7ff;
        margin-right: 69px;
        flex:1 1 50%;
        max-width: 630px;
        max-height: 470px;
        @media screen and (max-width: 1350px) {
            @include padding-hack (37.6%, cover);
        }
    }
    &__img {
        max-width: 630px;
        max-height: 470px;
    }
 
    &__text-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 460px;

    }
    &__subtitle {
        text-transform: uppercase;
        font-family: $gothambook;
        font-size: 22px;
        color: #2c4058;
        margin-bottom: 15px;
    }
    &__text-title {
        text-transform: uppercase;
        font-family: $gothambold;
        font-size: 44px;
        color: #2c4058;
        margin-bottom: 39px;
    }

    &__text {
        font-family: $opensans;
        max-width: 460px;
        font-size: 18px;
        line-height: 30px;
        color: #4b5562;
        margin-bottom: 36px;
    }
    &__link {
        display: flex;
        justify-content: center;
        border: 1px solid #2c4058;
        padding: 20px 39px;
        max-width: 190px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $gothambook;
        color: #2c4058;
        margin-bottom: 60px;
        &:hover {
            border: transparent solid 1px;
            transition: all 0.5s ease;
            color: #2c4058;
          }
    }
    &__location {
        text-decoration: none;
        font-family: $opensans;
        color: #2c4058;
        font-style: 18px;
        font-style: italic;
        &:hover {
            color: #2c4058;
          }
    }
    &__text--reverse {
        font-family: $opensans;
        max-width: 452px;
        font-size: 18px;
        line-height: 30px;
        color: #4b5562;
        margin-bottom: 36px;
    }
    
}

.what-we-do__img-wrapper--reverse {
    display: flex;
    box-shadow: 201px -70px 0 0 #7e5aff;
    flex:1 1 50%;
    max-width: 630px;
    max-height: 470px;
    @media screen and (max-width: 1350px) {
        @include padding-hack (37.6%, cover);
    }
    img {
        max-width: 630px;
        max-height: 470px;
    }

}
.what-we-do__info-wrapper--reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.what-we-do__text-wrapper--reverse {
    margin-right: 311px;
    display: flex;
    flex-direction: column;
    margin-right: 74px;
}
.container--reverse {
    margin-bottom: 140px;
    padding: 0 0 0 30px;
}