.our-team {
  padding-top: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    position: relative;
  }
  &__subtitle {
    font-style: 18px;
    margin-bottom: 18px;
  }
  &__title {
    color: $main-title;
    font-family: $title-font;
    font-size: 60px;
    margin-bottom: 45px;
  }
  &__icon-wrapper {
    width: 16px;
    height: 19px;
    position: relative;
    margin-bottom: 38px;
    &::before {
      content: "";
      display: block;
      min-width: 211px;
      height: 2px;
      background-color: $border-color;
      position: absolute;
      top: 7px;
      right: 25px;
    }
    &::after {
      content: "";
      display: block;
      min-width: 211px;
      height: 2px;
      background-color: $border-color;
      position: absolute;
      top: 7px;
      left: 25px;
    }
  }
  &__info {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    margin-bottom: 39px;
  }
  &__left {
    max-height: 421px;
    border: $border-color solid 2px;
    max-width: 416px;
    padding: 13px 15px;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 1 50%;
    &::before {
      content: "";
      display: block;
      background-color: #ffffff;
      min-width: 217px;
      height: 4px;
      top: 50%;
      transform: rotate(90deg);
      position: absolute;
      left: -109px;
    }

    &::after {
      content: "";
      display: block;
      background-color: #ffffff;
      min-width: 217px;
      height: 4px;
      top: 50%;
      transform: rotate(90deg);
      position: absolute;
      left: 304px;
    }
  }
  &__photo--wrapper {
    &::before {
      content: "";
      display: block;
      background-color: #ffffff;
      min-width: 217px;
      height: 4px;
      transform: translate(42%);
      position: absolute;
      top: -2px;
    }

    &::after {
      content: "";
      display: block;
      background-color: #ffffff;
      min-width: 217px;
      height: 4px;
      transform: translate(42%);
      position: absolute;
      top: 416px;
    }
    img {
      border: $border-color solid 2px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    border-left: $border-color solid 2px;
    padding-left: 84px;
    margin-left: 84px;
  }
  &__name {
    font-family: $title-font;
    font-size: $name;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
    &__border {
      display: flex;
      left: 50%;
      width: 101px;
      border-bottom: $border-color solid 2px;
      padding-top: 33px;
    }
  }
  &__position {
    font-family: $text-font;
    font-weight: 400;
    font-size: $position;
    margin-bottom: 28px;
  }
  &__links {
    margin-bottom: 30px;
  }
  &__text {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 20px;
    max-width: 416px;
  }
  &__button {
    text-decoration: none;
    font-family: $btn-font;
    border: $border-color solid 2px;
    font-size: $common-size;
    padding: 8px 13px;
    color: inherit;
    &:hover {
      border: $border-color solid 2px;
      color: $common-color;
      text-shadow: 0 0 15px $common-color;
      box-shadow: 0 0 15px $border-color;
      transition: all 0.5s ease;
    }
  }
  &__left-btn {
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    top: 58.4%;
    left: -66px;
    &:hover {
        animation: shake 0.5s;
        animation-iteration-count: 1;
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(180deg); }
        10% { transform: translate(-1px, -2px) rotate(179deg); }
        20% { transform: translate(-3px, 0px) rotate(181deg); }
        30% { transform: translate(3px, 2px) rotate(180deg); }
        40% { transform: translate(1px, -1px) rotate(181deg); }
        50% { transform: translate(-1px, 2px) rotate(179deg); }
        60% { transform: translate(-3px, 1px) rotate(180deg); }
        70% { transform: translate(3px, 1px) rotate(179deg); }
        80% { transform: translate(-1px, -1px) rotate(181deg); }
        90% { transform: translate(1px, 2px) rotate(180deg); }
        100% { transform: translate(1px, -2px) rotate(179deg); }
    }
  }
  &__right-btn {
    top: 58.4%;
    left: 1051px;
    &:hover {
        animation: shaking 0.5s;
        animation-iteration-count: 1;
    }
    @keyframes shaking {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  }
  &__radio-wrap {
      position: absolute;
      left: 476px;
      top: 698px;
  }
}

.border-under-text {
  background-color: $border-color;
  width: 21px;
  height: 5px;
  position: relative;
  margin-bottom: 25px;
  &::before {
    content: "";
    display: inline-block;
    background-color: $border-color;
    width: 11px;
    height: 5px;
    left: 28px;
    position: absolute;
  }
  &::after {
    content: "";
    display: inline-block;
    background-color: $border-color;
    width: 11px;
    height: 5px;
    left: -19px;
    position: absolute;
  }
}

.label {
  &__radio {
    display: none;
  }

  &__area {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    width: 11px;
    height: 11px;
  }
}

.label__area::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  background-color: $border-color;
}

.label__radio:checked + .label__area::before {
  background-color: white;
  width: 11px;
  height: 11px;
  border: 2px solid $border-color;
}
