@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

//Fonts
$text-font: 'Raleway', sans-serif;
$title-font: 'Roboto', sans-serif;
$btn-font: 'Open Sans', sans-serif;

//Colors
$main-title: #FFCC00;
$sub-title: #898F8F;
$common-color: #666666;
$text-color: #333333;
$border-color: #FFCC00;
$icon-color: #CCCCCC;

//Sizes
$title-size: 60px;
$sub-title: 18px;
$name: 36px;
$position: 24px;
$common-size: 14px;