@font-face {
    font-family: "MuseoSansRounded";
    src: url("../assets/fonts/MuseoSansRounded-100.ttf");
}

// Colors
$text-color: #E1E1E1;
$card-bg: #111A28;

//Fonts
$title-size: 24px;
$text-size: 14px;


$common-font: 'MuseoSansRounded', sans-serif;